<section class="vh-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="text-black">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 text-primary">
                  ¡Bienvenido a Nomad Teams!
                </p>
                <p class="text-center h5 fw-bold mb-4 mx-1 mx-md-4 mt-4">
                  Si quieres entrar a nuestra comunidad, deberás <br/> <br/>
                  <button
                    type="button"
                    class="btn btn-primary"
                    routerLink="/login"
                  >
                    Iniciar sesión
                  </button>
                  o
                  <button
                    type="button"
                    class="btn btn-success"
                    routerLink="/register"
                  >
                    Registrárte
                  </button>
                </p>
              </div>
              <div
                class="
                  col-md-10 col-lg-6 col-xl-7
                  d-flex
                  align-items-center
                  order-1 order-lg-2
                "
              >
                <img
                  src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                  class="img-fluid"
                  alt="Sample image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
